.depButtonBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 750px;
}

.depButton {
    transition: all 0.4s ease;
    color: var(--word-color);
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    user-select: none;
}

.depButtonSele {
    color: var(--word-color);
    background: var(--tableTrHover-color);
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    user-select: none;
}


.depButton:hover {
    border-radius: 50%;
    background: rgb(129, 129, 129);
}

.classButtonBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.classButton {
    transition: all 0.4s ease;
    color: var(--word-color);
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    user-select: none;
}

.classButton:hover {
    border-radius: 50%;
    background: rgb(129, 129, 129);
}

.classButtonSele {
    color: var(--word-color);
    background: var(--tableTrHover-color);
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    user-select: none;
}

.classButtonGroup {
    display: flex;
    margin-right: 5px;
}

.classClassToolBar {
    position: fixed;
    display: flex;
    background-color: rgb(28, 5, 49);
    width: 60vw;
    height: 115px;
    left: calc((70vw / 2) - 30vw + 78px);
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.classGroupHead {
    color: var(--word-color);
    line-height: 30px;
    text-align: right;
    width: 30px;
    height: 30px;
}

.classAction {
    width: 20px;
    height: 20px;
}

.classActionDiv {
    transition: all 0.4s ease;
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.classNoActionDiv {
    transition: all 0.4s ease;
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.classActionDiv:hover {
    border-radius: 50%;
    background: rgb(129, 129, 129);
}

.classActionBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.placeHolder {
    width: 0px;
    padding-bottom: 60px;
    background: rgb(201, 34, 34);
}

.sctable {
    border-collapse: separate;
    width: 18vw;
    color: var(--word-color);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-spacing: 0;
    border-radius: 10px;
    margin-top: 120px;
}

.sctr {
    transition: all 0.2s ease-in;
    height: 60px;
    cursor: pointer;
    background-color: var(--tableTrHover-color);
    border-bottom: 0.5px solid var(--tableBorder-color);
    border-top: 0.5px solid var(--tableBorder-color);
}

.sctr:hover .sctd {
    background-color: var(--tableTrHover-color);
}

.sctr:hover {
    border-radius: 2%;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.scth {
    padding: 7px;
    text-align: center;
}


.sctd {
    background-color: var(--tableTr-color);
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid var(--tableBorder-color);
    text-align: center;
}

#scheader {
    background-color: var(--tableHead-color);
    color: var(--word-color);
    height: 50px;

}

#scheader:first-child {
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
}

#scheader:last-child {
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 10px; */
}

.viewShoppingCart {
    position: fixed;
    left: calc(100vw - (((30vw - 78px) - 18vw) / 4) - 20px);
    top: 90px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 200ms ease;
}

.viewShoppingCart:hover {
    background: rgb(129, 129, 129);
}