.controlPanel {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.timeDivBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 60vw;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(22 21 25);
  border-radius: 15px;
}

.timeBoxLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  width: auto;
}

.timeBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
}

.timeName {
  font-family: NotoSansTC-Regular;
  white-space: nowrap;
  width: 12vw;
  color: white;
  font-size: 25px;
  text-align: left;
  max-width: 140px;
}

.timeSeg {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
  width: auto;
}

.timeNum {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
  width: 11vw;
  max-width: 57px;
}

.timeNumLong {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
  width: auto;
  max-width: none;
}

.lowerPanelBox {
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.flowChartBox {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 60vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: rgb(22 21 25);
  z-index: -1;
}

.flowStepBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.preLoadBox {
  width: 110px;
}

.fastSelectBox {
  width: 310px;
}

.preSelectBox {
  width: 160px;
}

.flowIconBox {
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #0a090b;
  border-radius: 50%;
  outline: 2px solid #898989;
  outline-offset: -6px;
}

.iconBox {
  width: 50%;
  height: 50%;
}

.iconActiveBox {
  outline: 2px solid #62ff00;
  outline-offset: -6px;
  transition: all 0.5s ease;
}

.flowStepInfoBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.stepName {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 25px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.stepLinkBox {
  width: 0;
  height: 2px;
}

.stepLinkLineBox {
  position: relative;
  width: calc((60vw - 580px) / 4 * 2 + 430px);
  height: 2px;
  background-color: #898989;
  z-index: -1;
}

.stepLinkLine {
  position: relative;
  width: 0%;
  height: 2px;
  background-color: #62ff00;
  transition: all 0.5s ease;
  z-index: -1;
}

.stepInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.infoIconBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.loadingIcon {
  animation-name: loadingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.info {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  padding-right: 10px;
}

.infoSmall {
  font-size: 15px;
  padding-right: 5px;
}

.info:last-child {
  padding-right: 0px;
}

.InternetBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: calc(25vw - 40px);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: rgb(22 21 25);
}

.InternetStatusTitleText {
  width: 100%;
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 30px;
  text-align: left;
  white-space: nowrap;
}

.InternetStatusDivBox {
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start;
}

.InternetStatusFromNameValue {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.InternetStatusFromName {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 25px;
  text-align: left;
  white-space: nowrap;
}

.InternetStatusFromValue {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 15px;
  text-align: left;
  white-space: nowrap;
  padding-left: 20px;
}

.InternetStatusBox {
  width: calc(100% - 25px);
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.InternetStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.InternetStatusDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.statusName {
  width: 140px;
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 20px;
  text-align: left;
  white-space: nowrap;
  padding-left: 10px;
  min-width: 100px;
}

.statusBarBox {
  display: flex;
  width: 100%;
  height: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.statusBar {
  height: 100%;
  width: 0%;
  min-width: 2px;
}

.statusNumber {
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 15px;
  text-align: left;
  white-space: nowrap;
  padding-left: 5px;
}

.launchBox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: calc(25vw - 40px);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  background-color: rgb(22 21 25);
}

.launchActionBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.launchActionTextBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-family: NotoSansTC-Regular;
  color: white;
  font-size: 36px;
  text-align: center;
  white-space: nowrap;
}

.button {
  position: relative;
  display: inline-block;
  margin: 20px;
}


.button .startUp {
  color: white;
  font-family: NotoSansTC-Regular;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #01b204;
  display: block;
  position: relative;
  padding: 10px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 #7aeb7c,
  0 10px 0 #014601;
  border-radius: 5px;
  user-select: none;
  z-index: 1;
}

.button .startDown {
  top: 10px;
  color: white;
  font-family: NotoSansTC-Regular;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #018903;
  display: block;
  position: relative;
  padding: 10px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=0px, offy=1px);
  border-radius: 5px;
  user-select: none;
  z-index: 1;
  box-shadow: inset 0 1px 0 #1dc11f,
  inset 0 -3px 0 #014601;
}

.button .stopUp {
  color: white;
  font-family: NotoSansTC-Regular;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ff0000;
  display: block;
  position: relative;
  padding: 10px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=0px, offy=1px);
  box-shadow: inset 0 1px 0 #ffabab,
  0 10px 0 #a30000;
  border-radius: 5px;
  user-select: none;
  z-index: 1;
}

.button .stopDown {
  top: 10px;
  color: white;
  font-family: NotoSansTC-Regular;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ca0202;
  display: block;
  position: relative;
  padding: 10px 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000000;
  filter: dropshadow(color=#000000, offx=0px, offy=1px);
  border-radius: 5px;
  user-select: none;
  z-index: 1;
  box-shadow: inset 0 1px 0 #ffabab,
  inset 0 -3px 0 #a30000;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: 0;
  background-color: #3c3a4a;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}