@font-face {
  font-family: "NotoSansTC-Medium";
  src: url(./fonts/NotoSansTC-Medium.otf);
}
@font-face {
  font-family: "NotoSansTC-Regular";
  src: url(./fonts/NotoSansTC-Regular.otf);
}
@font-face {
  font-family: "NotoSansTC-Light";
  src: url(./fonts/NotoSansTC-Light.otf);
}

:root{
  --first-color: #9873ff;
  --button-color: #6b35ff;
  --input-color: #80868B;
  --border-color: #DADCE0;

  --body-font:"NotoSansTC-Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --normal-font-size: 1.1rem;
  --small-font-size: .9rem;
}

::before,::after{
  box-sizing: border-box;
}

body {
  font-family: "NotoSansTC-Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #2b2a33;
  overflow: hidden;
}

.login_title{
  font-family: "NotoSansTC-Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  text-align: center;
  font-size: 32px;
  font-weight:100;
  z-index: 1;
  margin-top: 2%;
}
.login_title_small{
  font-family: "NotoSansTC-Light",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  text-align: center;
  font-weight:50;
  font-size: 18.72px;
  z-index: 1;
  padding-top: 8px;
}
.loginBox{
  border-radius: 8px;
  box-shadow: 10px 10px 15px 1px rgba(33, 35, 37, 0.733);
  background-color: #0a0a0a9a;
  display: flex;
  flex-shrink: 0;
  margin: 0 auto;
  min-height: 0;
  transition: .2s;
  width: 450px;
  height: 502px;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.l-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 5;
  animation: flyin 2s forwards;
}
.form{
  box-shadow: 10px 10px 15px 1px rgba(33, 35, 37, 0.733);
  background-color: #0a0a0a9a;
  width: 360px;
  padding: 48px 40px 36px;
  border-radius: 1rem;
  z-index: 2;
}
.form_div{
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}
.form_input{
  position: absolute;
  color: whitesmoke;
  top: 0;
  left: 0;
  width: 90%;
  height: 50%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: .3rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
  margin-top: 1.5rem;
  
}
.form_label{
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: #17171a;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: .3s;
  margin-top: 1.5rem;
}
.form_button{
  display: block;
  margin-left: auto;
  width: 37px;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--button-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  margin-top: 3.5rem;
  user-select: none;
}
.form_button:hover{
  box-shadow: 0px 0px 15px 0.1px rgba(255, 255, 255, 0.322);
}
.form_button:active{
  background-color: #5128c2;
}

/*Input focus move up label*/
.form_input:focus + .form_label{
  top: -.5rem;
  left: .8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
  top: -.5rem;
  left: .8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form_input:focus{
  border: 2px solid var(--first-color);
}

.waveBox {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
  z-index: -3;
}


.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:-400px;
  left:0px;
  background: #653b94ff;
  animation: up 2s forwards;
  z-index: -3;
}

.wave {
  background: url(./images/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 20s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  z-index: -3;
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 15s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 50px;
  background: #202225;
}
header .logo{
  position: relative;
  font-weight:  700;
  color: #fff;
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15%;
  list-style: none;
}

header ul li{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  
}

header ul li a{
  position: relative;
  
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.banner{
  position: relative;
  
}




.sidebar{
  position: fixed;
  left: 0;
  top: 76px;
  height: 100%;
  width: 50px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 90px;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
  padding: 0;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 180px;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
input[type=text]
{
    padding: 0 0 0 0;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 278px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: fixed;
  background: #E4E9F7;
  border: 0px;
  min-height: 100vh;
  top: 76px;
  left: 78px;
  width: 900px;
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 278px;
  width: 800px;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}



@keyframes up {
  0% {
    bottom: -400px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes flyin {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes flyout {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes down {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: -400px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}