@font-face {
  font-family: "NotoSansTC-Medium";
  src: url(./fonts/NotoSansTC-Medium.otf);
}

@font-face {
  font-family: "NotoSansTC-Regular";
  src: url(./fonts/NotoSansTC-Regular.otf);
}

@font-face {
  font-family: "NotoSansTC-Light";
  src: url(./fonts/NotoSansTC-Light.otf);
}

@font-face {
  font-family: "cubic11";
  src: url(./fonts/Cubic_11_1.010_R.ttf);
}

:root {
  --first-color: #9873ff;
  --button-color: #6b35ff;
  --input-color: #80868b;
  --border-color: #dadce0;
  --tableHead-color: #474194;
  --tableTr-color: #32275a;
  --tableTrHover-color: #584b86;
  --word-color: #dddddd;
  --tableBorder-color: #dddddd;
  --yes-color: #32cd32;
  --no-color: #ff4500;
  --body-font: "NotoSansTC-Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --normal-font-size: 1.1rem;
  --small-font-size: 0.9rem;
}

body {
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 10px 50px;
  background: #202225;
}

header .logo {
  height: 50px;
  position: relative;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15%;
  list-style: none;
}

header ul li {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
}

header ul li a {
  position: relative;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.banner {
  position: relative;
}




.sidebar {
  position: fixed;
  left: 0;
  top: 73px;
  height: 100%;
  width: 50px;
  background: #11101d;
  padding: 6px 15px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 172px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  width: 90px;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon, .sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #ffffff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding: 0;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100px;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}

.sidebar li a:hover {
  background: #ffffff;
}

.boxIcon {
  height: 25px;
  min-width: 25px;
  fill: #ffffff;
}

.sidebar li a:hover .boxIcon {
  fill: #000000;
}

.sidebar li a .links_name {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name, .sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  display: flex;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.sidebar.open li.profile {
  width: 200px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar li.profile .sidebar li.profile {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
}

.nameClass {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.frame_box {
  position: absolute;
  display: flex;
  border: 0px;
  height: calc(100vh - 73px);
  top: 73px;
  left: 78px;
  width: calc(100vw - 100px);
  transition: all 0.5s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.home-section {
  overflow: auto;
  background: #2b2a33;
  border: 0px;
  top: 73px;
  left: 78px;
  width: 70vw;
  max-width: 70vw;
  transition: all 0.5s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.home-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sidebar.open~ .home-section {
  left: 278px;
  width: 50vw;
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.right-section {
  overflow: auto;
  background: #201f25;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border: 0px;
  height: 100%;
  top: 73px;
  left: calc(78px + 70VW);
  width: calc(30vw - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  justify-content: flex-start;
}

.right-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}




@keyframes up {
  0% {
    bottom: -400px;
  }

  100% {
    bottom: 0px;
  }
}

@keyframes flyin {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes flyout {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes down {
  0% {
    bottom: 0px;
  }

  100% {
    bottom: -400px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0, -25px, 0);
  }

  50% {
    transform: translate3d(0, 5px, 0);
  }
}