.placeHolder {
  width: 0px;
  padding-bottom: 60px;
  background: rgb(201, 34, 34);
}

.mtable {
  border-collapse: separate;
  width: 60vw;
  color: var(--word-color);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  border-spacing: 0;
  border-radius: 10px;
  margin-top: 120px;
}

.mtr {
  transition: all 0.2s ease-in;
  height: 60px;
  cursor: pointer;
  background-color: var(--tableTrHover-color);
  border-bottom: 0.5px solid var(--tableBorder-color);
  border-top: 0.5px solid var(--tableBorder-color);
}

.mtr:hover .mtd {
  background-color: var(--tableTrHover-color);
}

.mtr:hover {
  border-radius: 2%;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.mth {
  padding: 7px;
  text-align: center;
}


.mtd {
  background-color: var(--tableTr-color);
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid var(--tableBorder-color);
  text-align: center;
}

#mheader {
  background-color: var(--tableHead-color);
  color: var(--word-color);
  min-width: 80px;
  height: 50px;

}

#mheader:first-child {
  border-top-left-radius: 10px;
  /* border-bottom-left-radius: 10px; */
}

#mheader:last-child {
  border-top-right-radius: 10px;
  /* border-bottom-right-radius: 10px; */
}



@media only screen and(max-width: 768px) {
  .mtable {
    width: 90%;
  }
}

.viewType {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 200ms ease;
  margin-bottom: 5px;
}

.viewType:hover {
  background: rgb(129, 129, 129);
}

.mBtable {
  border-collapse: separate;
  width: 60vw;
  color: var(--word-color);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  border-spacing: 0;
  border-radius: 10px;
  margin-top: 120px;
}

.mBtr {
  transition: all 0.2s ease-in;
  height: 60px;
  cursor: pointer;
  background-color: var(--tableTrHover-color);
}

.mBth,
.mBtd {
  background-color: var(--tableTr-color);
  padding: 7px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
  border-right: 1px solid #ddd;
}

.dragging {
  opacity: 1;
}