.mtable{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    background: #E4E9F7;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),-1px -1px 8px rgba(0, 0, 0, 0.2);
}

.mtr{
    transition: all .2s ease-in;
    height: auto;
    cursor: pointer;
}
.mth,.mtd{
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#mheader{
    background-color: #3187c0;
    color: #fff;
}

.mtr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2),-1px -1px 8px rgba(0, 0, 0, 0.2);
}
@media only screen and(max-width: 768px){
    .mtable{
        width: 90%;
    }
}