.sTable {
    text-align: center;
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    background: #E4E9F7;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.sTime {
    border: 0.5px #414141 solid;
}

.sTime:focus {
    outline: none;
}

.str {
    transition: all .2s ease-in;
    cursor: pointer;
}

.sth,
.std {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgb(143, 143, 143);
}

#sheader {
    background-color: #3187c0;
    color: #fff;
}

.str:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.saveBTN {
    position: absolute;
    left: 89%;
    top: 80%;
}

@media only screen and(max-width: 768px) {
    .stable {
        width: 90%;
    }
}

.disclaimerDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60vw;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(22 21 25);
    border-radius: 15px;
}

.disclaimerTitle {
    font-family: NotoSansTC-Regular;
    color: white;
    font-size: 35px;
    text-align: center;
    width: 100%;
    word-break: keep-all;
    overflow-wrap: break-word;
    display: inline-block;
}

.disclaimerInfoDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.disclaimerInfo {
    font-family: NotoSansTC-Regular;
    color: white;
    font-size: 20px;
    text-align: left;
    width: 100%;
    word-break: keep-all;
    overflow-wrap: break-word;
    display: inline-block;
    margin-bottom: 20px;
}