.sTable {
    text-align: center;
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    background: #E4E9F7;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.sTime {
    border: 0.5px #414141 solid;
}

.sTime:focus {
    outline: none;
}

.str {
    transition: all .2s ease-in;
    cursor: pointer;
}

.sth,
.std {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgb(143, 143, 143);
}

#sheader {
    background-color: #3187c0;
    color: #fff;
}

.str:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.saveBTN {
    position: absolute;
    left: 89%;
    top: 80%;
}

@media only screen and(max-width: 768px) {
    .stable {
        width: 90%;
    }
}